/***********************
 *	Variables
 **********************/
/***********************
 *	Project Main Styles
 **********************/




 *,
 *:before,
 *:after {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 html::-webkit-scrollbar{
  display: none;
 }


 body {
  font-family: 'Montserrat', sans-serif;
   background-color:#282828;
 }

 header{
   height: 55px; 
   width: 100%;
  background-image: url('/img/back.svg');
  background-color:rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position:left; 
  background-size:1100px;
}

footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background:#282828; 
  height:50px; 
  width:100%;
}
footer p{
  font-weight: 400;
  font-size: 12px;
  color:white;
  margin-left: 20px;
}

#contacto{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  margin-left: 30px;
}


#contacto p{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
}

#contacto a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

#contacto a:hover{
  color: #FFC107;
  -webkit-transition:all 0.7s;
  transition:all 0.7s;
}

 #contacto i{
   font-size: 45px;
   margin-right: 15px;
 }
.back{
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color:rgba(255, 255, 255, 0.4);

}
.logo{
  height: 100%;
  margin-top: 10px;
  margin-left: 20px;
  
}

.nav-auth{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.nav-auth a{
  text-align: center;
  text-decoration: none;
  width: 100px;
  padding: 10px;
  padding-top:35px;
  padding-bottom: 35px;
  color:black;
  background-color:rgba(255, 255, 255, 0.767);
  border-left: gray solid 1px;
}

.nav-auth a:hover{
  background:#6c3d94;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 17px;
  color: white;
}
 
 .slider-pages {
   overflow: hidden;
   position: relative;
   height: 100vh;
 }
 
 .slider-page {
   position: absolute;
   top: 0;
   width: 50%;
   height: 100vh;
   transition: -webkit-transform 600ms;
   -webkit-transition: -webkit-transform 600ms;
   transition: transform 600ms;
   transition: transform 600ms, -webkit-transform 600ms,  -moz-transform 600ms;
 }
 
 .slider-page--skew {
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 140%;
   height: 100%;
   background: #282828;
   -webkit-transform: skewX(-18deg);
           transform: skewX(-18deg);
           -moz-transform: skewX(-18deg);
 }
 
 .slider-page--left {
   left: 0;
   -webkit-transform: translateX(-32.5vh) translateY(100%) translateZ(0);
           -moz-transform: translateX(-32.5vh) translateY(100%) translateZ(0);
           transform: translateX(-32.5vh) translateY(100%) translateZ(0);
 }
 .slider-page--left .slider-page--skew {
   left: -40%;
 }
 .slider-page--left .slider-page__content {
   padding: auto 30% auto 30%;
   -webkit-transform-origin: 100% 0;
           -moz-transform-origin: 100% 0;
           transform-origin: 100% 0;
 }
 
 .slider-page--right {
   left: 50%;
   -webkit-transform: translateX(32.5vh) translateY(-100%) translateZ(0);
           transform: translateX(32.5vh) translateY(-100%) translateZ(0);
           -moz-transform: translateX(32.5vh) translateY(-100%) translateZ(0);
 }
 .slider-page--right .slider-page--skew {
   right: -40%;
 }
 .slider-page--right .slider-page__content {
   padding: auto 30% auto 30%;
   -webkit-transform-origin: 0 100%;
           transform-origin: 0 100%;
           -moz-transform-origin: 0 100%;
 }
 
 .vineta{
   margin-right: 5px;
   font-size: 20px;
 }

 .cont-vineta{
  color:white; 
  margin-top:50px;
  margin-left: 20px; 
  font-size:23px; 
 }

 .cont-vineta p{
   margin-bottom: 20px;
 }
 .slider-page__content {
   
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 10% 20% 0 20%;
   color: #e2e2e2;
   background-size: cover;
   -webkit-transform: skewX(18deg);
           transform: skewX(18deg);
   transition: -webkit-transform 500ms;
   -webkit-transition: -webkit-transform 500ms;
   transition: transform 500ms;
   transition: transform 500ms, -webkit-transform 500ms,-moz-transform 500ms;
 }
 
 .slider-page__content img{
   margin-right: 15px;
 }


 .slider-page__title {
   margin-bottom: 15px;
   font-size: 2em;
   width: 100%;
 }
 
 .slider-page__title--big {
   font-size: 1.2em;
 }
 
 .slider-page__description {
   font-size: 1em;

 }
 
 .slider-page__link {
   color: #80a1c1;
 }
 .slider-page__link:hover, .slider-page__link:focus {
   color: #6386a9;
   text-decoration: none;
 }
 
 /***********************
  *	Project JS Styles
  **********************/
 .js-scrolling__page {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
 }
 
 .js-scrolling--active .slider-page {
   -webkit-transform: translateX(0) translateY(0) translateZ(0);
           transform: translateX(0) translateY(0) translateZ(0);
           -moz-transform: translateX(0) translateY(0) translateZ(0);
 }
 
 .js-scrolling--inactive .slider-page__content {
   -webkit-transform: skewX(18deg) scale(0.9);
           transform: skewX(18deg) scale(0.9);
           -moz-transform: skewX(18deg) scale(0.9);
 }
 
 .js-scrolling__page-1 .slider-page--left .slider-page__content {
   background-image: url("/img/contenido/cartuchos.jpg");
 }
 .js-scrolling__page-1 .slider-page--right .slider-page__content {
   background-color: #282828;
 }
 
 .js-scrolling__page-2 .slider-page--left .slider-page__content {
   background-color: #e2e2e2;
 }
 .js-scrolling__page-2 .slider-page--left .slider-page__title,
 .js-scrolling__page-2 .slider-page--left .slider-page__description {
   color: #282828;
 }
 .js-scrolling__page-2 .slider-page--right .slider-page__content {
   background-size: 1000px;
   background-position-y: 140px;
   background-repeat: no-repeat;
   background-image:url("/img/contenido/impre.jpg");
   background-color: #FFC107;
 }
 
 .js-scrolling__page-3 .slider-page--left .slider-page__content {
  background-position-x: -120px;
  background-repeat: no-repeat;
   background-image: url("/img/contenido/epson.jpg");
 }

 .js-scrolling__page-4 .slider-page--right .slider-page__content {
  background-position-x: 90px;
  background-position-y: 50px;
   background-repeat: no-repeat;
   background-size: 70%;
   background-color: white;
  background-image: url("/img/contenido/generico.jpg");
 }

 .js-scrolling__page-5 .slider-page--left .slider-page__content {
  background-image: url("/img/contenido/mante-impre.jpg");
 }

 .js-scrolling__page-3 .slider-page--right .slider-page__content {
   background-color: #282828;
   
 }
 
 .js-scrolling__page-6 .slider-page--right .slider-page__content {
  background-color: #303F9F;


 }

 body{
min-width: 100%;
max-width: 100%;
  
  }