.icon{
    font-size: 20px;
}

.inp-num1, .inp-num2{
    max-width: 180px;
    
}

#detCliente{
    display: none;
}

.venta thead tr th{
    padding-top:0px;
    padding-bottom:0px;
}

.hidden{
visibility: hidden;
}

textarea{
    resize: none;
}

#buscaFolio
{
    width: 33px;
    padding: 1px;
}

#buscaFolio i{
    font-size: 20px;
}
#agregaServ{
    height: 30px;
    line-height: 10px;
}

@media only screen and (max-width: 600px) {
    .inp-num1 {
       max-width: 250px;
    }
}

@media only screen and (max-width: 425px) {
    .media-sm {
       width: 100% !important;
       margin-right: 0 !important;
       margin-left: 0 !important;
    }
}